
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:"A1ゴシック R";
}

/*
"FB Benton Sans Medium"　
h1, h2, h3, h4, h5, h6, a{
  font-family: "FB Benton Sans Medium" "A1ゴシック R";
}

p{
  font-family: "FB Benton Sans Book" "Koburina Gothic W3 JIS2004";
}
*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.br-pc { display:block; }
.br-sp { display:none; }

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    /*color: #2B5355;*/color: #292E2B;
  }

header{
  height: 60px;
  width: 100%;
  background-color:rgba(47,79,79,1);
  /*
  background-color:rgba(60,179,113,1)*/
  color:white;
  line-height: 60px;
  position :fixed;
  top: 0;
  z-index: 10;
}


.header-left{
  width:170px;
  margin-top:7px;
  float:left;
}



.header-right{
  float:right;
  margin-left: 15px;
}

.header-right a{
  color:white;
  padding:0 30px;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover{
  background-color: rgba(255, 255, 255, 0.1);
}


.top-wrapper{
  padding:120px 0 160px 0;
  background-image: url(https://drive.google.com/uc?export=view&id=1YsuwoB0tzPflIxEbfOg49vF_-yH4rr2b);

  background-size: cover;
  color: white;
  /*color: #2B5355;*/
}

.title-box{
  background-color:rgba(41, 46, 43, 0.6);
  /*background-color:rgba(255, 255, 255, 0.85);*/
  padding:40px 50px;
  display: inline-block;
  margin-left: 40px;
  border-radius: 5px;
}

.title-box h3{
  font-size:26px;
  font-weight: normal;
  color: white;
  padding-bottom:10px;
  border-bottom: 0.5px solid white;
  margin-bottom: 36px;
  display: inline-block;
}

.title-box h1{
  font-size:68px;
  padding-bottom:15px;
  font-weight: normal;
  color: white;
}

.title-box span{
  font-size:50px;
  font-weight: normal;
  color: white;
}

.title-box h2{
  font-size:50px;
  padding-bottom:70px;
  font-weight: normal;
  color: white;
}

.title-box p{
  font-size:18px;
  line-height:34px;
  color: white;
}

/*---------------------*/

.feature-wrapper{
  padding:120px 0 0 0;
  text-align: center;
}

.heading h6{
  padding: 10px 40px;
  color: rgb(60,179,113);
  font-size: 16px;
  font-weight:bold;
  letter-spacing:0.5em;
  text-indent:0.5em;
  display: inline-block;
  margin-bottom: 35px;
  /*border-top: 3px solid rgb(60,179,113);*/
  border-bottom: 3px solid rgb(60,179,113);
}

.heading h3{
  font-size:46px;
  font-weight: bolder;
  letter-spacing:0.2em;
  text-indent:0.2em;
  padding-bottom:30px;
}

.heading h4{
  font-size:24px;
  font-weight: normal;
  line-height:30px;
  padding-bottom:60px;
}

.features{
  margin: 0 45px;
  display: flex;
}

.feature{
  float:left;
  flex: auto;
}

.square{
  width: 200px;
  height: 200px;
  /*background: #F5F5F5;*/
  background: #F5F5F5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.feature h5{
  padding-top: 25px;
  padding-bottom: 18px;
}

.feature p{
  width: 200px;
  display: inline-block;
  font-size: 14px;
  line-height:22px;
  text-align: justify;
  /*letter-spacing:-0.015em*/
  text-justify: inter-ideograph;
}

.type-wrapper{
  padding-top:120px;
  padding-bottom:0px;
  text-align: center;
}

.types{
  display: inline-block;
}

.type{
  padding-bottom: 40px;
  display: flex;
}

.picture{
  width:200px;
  height:200px;
  margin-left: 20px;
  padding: 0 auto;
}

.picture img{
  width:100%;
  height:100%;
}

.text{
  width:600px;
  background-color:#F5F5F5;
  height: 200px;
  border-radius: 5px;
  padding:30px;
}

.text h4{
  text-align: left;
  padding-bottom: 12px;
  font-size: 18px;
}

.text p{
  text-align: left;
  line-height: 28px;
  font-size: 16px;
  text-align: justify;
  letter-spacing:-0.05em;
}

.message-wrapper{
  padding:80px 0px 120px 0px;
  /*background-image: url(https://drive.google.com/uc?export=view&id=15-Uj0F1qLru5cCiAYtUpfHIc9DK7dSHf);
  background-size: cover;*/
  text-align: center;
}


.message-text p{
  padding-bottom :20px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 60px;
}
.btn a{
  display: inline-block;
  background-color: rgb(60,179,113);
  padding: 25px 70px;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.15em;
  font-size: 18px;
  font-weight:  normal;
  transition: all 0.5s;
}

.btn a:hover{
    background-color: rgba(60,179,113,0.7);
}

footer{
  background-color: #EAEAEA;
}

.footer-left {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-logo {
  width:130px;
  padding-bottom: 2px;
}

.english-text{
  font-size: 12px;
  font-weight: normal;
}




}
